{% extends 'base.html.twig' %}

{% block title %}Ajouter une entreprise{% endblock %}

{% block body %}
    <h1>Ajouter une Entreprise : </h1>
    <p>
    {{ form(formAddEntreprise) }}
    </p>
{% endblock %}
