{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}

    <h1>Liste des entreprises</h1>

    {% for entreprise in entreprises %}

    <a href="{{ path('details_entreprise', {'id' : entreprise.id }) }}" >  {{entreprise}}  </a><br>

    {% endfor %}

{% endblock %}
