{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}

    <h1>Liste des entreprises</h1>
<table>
    <tbody>
    {% for entreprise in entreprises %}

    <tr>
        <td><strong> <a href="{{ path('details_entreprise', {'id' : entreprise.id }) }}" >  {{entreprise}}  </a> </strong> </td>
        <td> <a class="btn btn-danger"  href="{{path('delete_entreprise', {'id' : entreprise.id})}}">  Delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>


   <br> <a class="btn btn-primary" href="{{path('add_entreprise')}}">Ajouter une Entreprise</a>
{% endblock %}
