{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}

    <h1>Liste des entreprises</h1>

    {% for entreprise in entreprises %}

   <strong> <a href="{{ path('details_entreprise', {'id' : entreprise.id }) }}" >  {{entreprise}}  </a> </strong><br>

    {% endfor %}
    
   <br> <a class="btn btn-primary" href="{{path('add_entreprise')}}">Ajouter une Entreprise</a>
{% endblock %}
