{% extends 'base.html.twig' %}

{% block title %}Ajouter un Employe{% endblock %}

{% block body %}
    {% if edit %}
             <h1>Editer un Employe : </h1>
    {% else %}
            <h1>Ajouter un Employe : </h1>
     {% endif %}
    <p>
    {{ form(formAddEmploye) }}
    </p>
{% endblock %}
