{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

    <h1>Liste des employes</h1>

    {% for employe in employes %}

         <strong><a href="{{path('details_employe',{ 'id': employe.id })}}"> {{employe}} </a></strong><br>

    {% endfor %}

   
{% endblock %}
